
<!--Carousel Wrapper-->
<div id="servicios" class="carousel slide carousel-fade hoverable" data-ride="carousel" data-interval="6000">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#servicios" data-slide-to="0" class="active"></li>
        <li data-target="#servicios" data-slide-to="1"></li>
        <li data-target="#servicios" data-slide-to="2"></li>
        <li data-target="#servicios" data-slide-to="3"></li>
        <li data-target="#servicios" data-slide-to="4"></li>
        <li data-target="#servicios" data-slide-to="5"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner z-depth-5" role="listbox">
        <div class="carousel-item active">
            <div class="view hm-black-light">
                <img src="../assets/images/ind.jpeg" alt="First slide">
            </div>
            <div class="carousel-caption text-right bold">
                <h3 class="h3-responsive">Refrigeración Industrial</h3>
                <p>Todo para sistemas de amoniaco. Equipos nuevos, re manufacturados, usados y nunca puestos en marcha.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-strong">
                <img src="../assets/images/acero.jpeg" alt="Second slide">
            </div>
            <div class="carousel-caption text-right">
                <h3 class="h3-responsive
                ">Acero y sus derivados</h3>
                <p>Ponemos a su alcance la mayor calidad en aceros estructurales, vigas, columnas, canales y perfiles HSS. También aleaciones especiales maquinables.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
                <img src="../assets/images/partes.jpeg" alt="Third slide">
            </div>
            <div class="carousel-caption text-right">
                <h3 class="h3-responsive">Partes, repuestos y equipos</h3>
                <p>Esa pieza, ese repuesto o ese equipo que no logra encontrar, ya no es más un problema, cuenta con nosotros.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
                <img src="../assets/images/led.jpeg" alt="Cuarto slide">
            </div>
            <div class="carousel-caption text-right">
                <h3 class="h3-responsive">Iluminacion LED</h3>
                <p>Máximo ahorro en costos de electricidad, para sus proyectos de iluminación industrial. La última y más moderna tecnología de iluminación al alcance de su presupuesto.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
                <img src="../assets/images/maq.jpeg" alt="Cuarto slide">
            </div>
            <div class="carousel-caption text-right">
                <h3 class="h3-responsive">Equipos y maquinarias</h3>
                <p>Partes, repuestos y equipos; Piezas re recambio, kits de reparación, partes de maquinarias y equipos en general.</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
                <img src="../assets/images/tub.jpeg" alt="Cuarto slide">
            </div>
            <div class="carousel-caption text-right">
                <h3 class="h3-responsive">Conducción de fluidos</h3>
                <p>Tenemos todo lo que necesita para su proyecto, tubería, conexiones y válvulas, apegados a las más exigentes normas de calidad internacional.</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#servicios" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-3x fa-chevron-left"></i></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#servicios" role="button" data-slide="next">
        <i class="fa fa-3x fa-chevron-right"></i>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
