<!--Form without header-->
<div class="card col-lg-4 container mt-4 mb-4">
    <div class="card-block mt-2 mb-4">
        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-address-card"></i> Consultar:</h3>
            <hr class="mt-2 mb-2">
        </div>
        <!--Body-->
        <div class="md-form">
            <i class="fa fa-ticket prefix"></i>
            <input type="text" id="form2" ng-model="$ctrl.ticket" class="form-control">
            <label for="form2">Numero de Ticket</label>
        </div>
        <div class="text-center">
            <button ng-click="$ctrl.sendQuery($ctrl.ticket);" class="btn btn-unique">Ingresar</button>
        </div>
        <div ng-show="$ctrl.loading" class="text-center">
            <i class="fa fa fa-circle-o-notch fa-2x amber-text fa-spin"></i>
        </div>
        <div ng-show="$ctrl.errorTicket" class="text-center">
           <p class="text-danger">Este ticket es inválido.</p>
        </div>
        <div ng-show="$ctrl.error" class="text-center">
           <p class="text-danger">Error en la red</p>
        </div>
    </div>
</div>
<!--/Form without header-->