<div class="consulta">
	<h3 class="text-center mt-5">¿Interesado en adquirir algún material o equipo?</h3>
	<h5 class="text-center mb-3">¡Cuéntanos de que se trata y te encontramos la mejor opción!</h5>
	<div class="col-lg-5 container ">
		<form name="Form">
			<!--Naked Form-->
			<div class="card-block">
				<!--Body-->
				<p class="text-center">Te responderemos tu consulta por correo.</p>
				<br>
				<!--Body-->
				<div class="md-form">
					<i class="fa fa-user prefix"></i>
					<input ng-model = "$ctrl.name" name="name" type="text" id="form3" class="form-control" required>
					<label for="form3">Nombre y Apellido</label>
				</div>
				<div class="md-form">
					<i class="fa fa-envelope prefix"></i>
					<input ng-model="$ctrl.email"  name="email" type="email" id="form2" class="form-control" required>
					<label for="form2">Tu email</label>
				</div>
				<div class="md-form">
					<i class="fa fa-tag prefix"></i>
					<input ng-model="$ctrl.motivo" name="motivo" type="text" id="form32" class="form-control" required>
					<label for="form34">Motivo</label>
				</div>
				<div class="md-form">
					<i class="fa fa-pencil prefix"></i>
					<textarea ng-model = "$ctrl.consulta" type="text" id="form8" class="md-textarea"  name="consulta" required></textarea>
					<label for="form8">Tu consulta</label>
				</div>
				<select ng-model="$ctrl.selectedCountry"  pvp-country-picker="name"  name="pais" class="md-form mdb-select form-control container col-6">
					<option value="" disabled selected>Elige tu país</option>
				</select>
				<div class="text-center">
					<button ng-disabled = "Form.$invalid" class="btn btn-default mask waves-effect" ng-click="$ctrl.sendForm()">Enviar</button>
					<div class="call">
						<br>
						<p>¿O prefieres llamar?
							<br>
							<span><i class="fa fa-phone"> </i></span>305-420-6706</p>
					</div>
					</div>
				</div>
			</form>
		</div>
	</div>



<!-- Central Modal Medium Success -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Consulta enviada</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-1 animated rotateIn"></i>
                    <p>Tu consulta ha sido enviada correctamente, te notificaremos via correo la respuesta tan pronto como podamos, gracias por confiar en nosotros.</p>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->

                                            