
<!--Form without header-->
<div class="card col-lg-4 container mt-4 mb-4">
    <div class="card-block mt-2 mb-4">
        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-address-card"></i> Consultar:</h3>
            <hr class="mt-2 mb-2">
        </div>
        <!--Body-->
        <div class="md-form">
            <i class="fa fa-ticket prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Numero de Ticket</label>
        </div>
        <div class="text-center">
            <button class="btn btn-unique">Ingresar</button>
        </div>
    </div>
</div>
<!--/Form without header-->
