<div class="footer mt-4">
	
<!--Footer-->
<footer class="page-footer elegant-color-dark center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <img width="120" src="../assets/images/logo.png">
                <p class="mt-2">Adquisición y Logistíca para materiales y equipos Industriales.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <ul>
                    <li><a>1.Cuéntanos, ¿Qué necesita?</a></li>
                    <li><a>2.Iniciaremos el proceso de búsqueda</a></li>
                    <li><a>3.Le enviaremos la cotización</a></li>
                    <li><a>4.Concrete La compra</a></li>
                    <li><a>Listo!</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a> gekosupplies.com</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

</div>