<nav class="navbar navbar-toggleable-* navbar-dark header">
	<div class="">
		<div class="navbar-header">
			<a class="navbar-brand d-inline-block" ui-sref="app">
				<img width="130" height="50" src="/assets/images/logo.png">
			</a>
			<a>
				<button type="button" class="btn btn-unique mask waves-effect" ui-sref="app">Incio</button>
			</a>
			<a ng-if="!$ctrl.session">
				<button type="button" class="btn btn-unique mask waves-effect" ui-sref="login">Iniciar Sesión</button>
			</a>
			<a ng-if="$ctrl.session">
				<button type="button" class="btn btn-unique mask waves-effect" ui-sref="profile">Perfil</button>
			</a>
			<div class="float-right col-12 col-lg-4"><h5 class="h5-responsive"><strong>Especialistas en adquisiciones y logística</strong> <br>
			Desde Miami, sirviendo a toda latinoamérica</h5></div>
		</div>
	</div>
</nav>