<div class="container-fluid">
	<div class="row">
		<a class="col-xs-12 col-md-3">
		    <div>
		      <button type="button" class="btn col-12 mask waves-effect info-color" ui-sref="we"><i class="fa fa-4x fa-tam fa-question-circle"></i><p>Cuéntenos, ¿Qué necesita?</p></button>	
		    </div>
		</a>
		<a class="col-xs-12 col-md-3">
		    <div>
		      <button type="button" class="btn col-12 container  mask waves-effect warning-color" ui-sref="consulta"><i class="fa fa-4x fa-tam fa-search"></i><p>Iniciaremos su búsqueda</p></button>	
		    </div>
		</a>
		<a class="col-xs-12 col-md-3">
            <div>
            	<button type="button" class="btn col-12 container  waves-effect mask success-color" ui-sref="consulta-ticket"><i class="fa fa-globe fa-4x fa-tam fa-usd"></i><p>Le enviamos la cotización</p></button>
            </div>
		</a>
		<a class="col-xs-12 col-md-3">
            <div>
            	<button type="button" class="btn col-12 container  waves-effect mask default-color" ui-sref="consulta"><i class="fa fa-2x fa-tam fa-handshake-o"></i><p>Concretar la compra
</p></button>
            </div>
		</a>
	</div>
	<carousel></carousel>
<marcas></marcas>
<div class="text-center mt-3 mb-3">
	<h2 style="color: white;">Puedes contactarnos en Miami a través del <br>
	305-420-6706</h2>
</div>
</div>