<div class="container-fluid">
	<div class="row">
		<a class="col-md-3">
		    <div>
		      <button type="button" class="btn container  mask waves-effect info-color" ui-sref="consulta"><i class="fa fa-4x fa-tam fa-question-circle"></i><p>¿Cómo funciona el servicio?</p></button>	
		    </div>
		</a>
		<a class="col-md-3">
		    <div>
		      <button type="button" class="btn container  mask waves-effect warning-color" ui-sref="consulta"><i class="fa fa-4x fa-tam fa-calculator"></i><p>Cotiza tus envíos aquí</p></button>	
		    </div>
		</a>
		<a class="col-md-3">
            <div>
            	<button type="button" class="btn container  waves-effect mask success-color" ui-sref="consulta-ticket"><i class="fa fa-globe fa-4x fa-tam"></i><p>¿Dónde está mi paquete?</p></button>
            </div>
		</a>
		<a class="col-md-3">
            <div>
            	<button type="button" class="btn container  waves-effect mask default-color" ui-sref="consulta"><i class="fa fa-address-book fa-4x fa-tam"></i><p>Contacto</p></button>
            </div>
		</a>
	</div>
	<carousel></carousel>
<pasos></pasos>
<marcas></marcas>
<div class="text-center mt-3 mb-3">
	<h2 style="color: white;">Puedes contactarnos en Miami a través del <br>
	305-420-6706</h2>
</div>
</div>