<div class="marcas p-5">
<h2 class="text-center mt-3 mb-3">Algunos de nuestros proveedores más destacados</h2>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top container text-center mb-2">
        <a class="btn-floating btn-small" href="#multi-item-example" data-slide="prev"><i class="fa fa-3x fa-chevron-left"></i></a>
        <a class="btn-floating btn-small" href="#multi-item-example" data-slide="next"><i class="fa fa-3x fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/vilter.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Vilter</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/russell-logo.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Russell</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/colmac.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Colmac Coil</h4>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/copeland.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Copeland</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/hansen.jpg">
                    <div class="card-block">
                        <h4 class="card-title">Hansen Technologies</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/frick.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Frick</h4>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/logo-alfalaval.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Alfa Laval</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/logo-mycom.gif" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">MAYEKAWA MYCOM</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm-down">
                <div class="card">
                    <img class="img-fluid" src="../assets/images/fricon.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Fricon Usa</h4>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

</div>