<div class="pasos">
	<h2 class="text-center mt-3">Con tan solo estos sencillos pasos conseguimos lo que necesites:</h2>
	<div>
		<div class="col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="https://thewellcommunity.org/files/blog-images/wallpapers/one-preview.jpg" class="img-fluid" alt="">
					<a href="#">
						<div class="mask waves-effect waves-light"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Haz tu pedido</h4>
					<!--Text-->
					<p class="card-text">Haz click en el boton "Hacer un pedido" para comenzar el proceso.</p>
					<a href="#" class="btn btn-primary">Hacer un pedido</a>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
	</div>
</div>