<div class="pasos">
	<h2 class="text-center mt-3">Con tan solo estos sencillos pasos conseguimos lo que necesites:</h2>
	<div class="row">
		<div class="col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="../assets/images/one.jpg" class="img-fluid" alt="">
					<a href="#">
						<div class="mask waves-effect waves-light"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Cuéntenos, ¿Que necesita?</h4>
					<!--Text-->
					<p class="card-text">Haga un ticket de servicio; Envíenos marca, modelo, número de parte o especificaciones técnicas y cantidades.</p>
					<a href="#" class="btn btn-primary">Realizar consulta</a>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
		<div class="col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="../assets/images/2.jpg"
					<a href="#">
						<div class="mask waves-effect waves-light"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Iniciaremos el proceso de búsqueda</h4>
					<!--Text-->
					<p class="card-text">Seleccionaremos las mejores alternativas para usted.</p>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
		<div class="col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="../assets/images/3.png" class="img-fluid" alt="">
					<a href="#">
						<div class="mask waves-effect waves-light"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Te enviamos la cotización</h4>
					<!--Text-->
					<p class="card-text">Usted recibirá por correo electrónico nuestra cotización de tu pedido.</p>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
		<div class="col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="../assets/images/4.png" class="img-fluid" alt="">
					<a href="#">
						<div class="mask waves-effect waves-light"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Te enviamos la cotización</h4>
					<!--Text-->
					<p class="card-text">Usted recibirá por correo electrónico nuestra cotización de tu pedido.</p>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
	</div>
</div>