
<!--Form without header-->
<div class="card col-lg-4 container mt-3 mb-3">
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-mail"></i>Recuperar cuenta:</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">email</label>
        </div>

        <div class="text-center">
            <button class="btn btn-unique">Recuperar</button>
        </div>

    </div>

</div>
<!--/Form without header-->
