<div class="col-lg-7 container">
	<div class="card mt-3">
		<div class="card-block mt-2">
			<p>En <strong>Geko Supplies LLC</strong> nos especializamos en las adquisiciones industriales, desde Florida atendemos requerimientos que van, desde grandes proyectos complejos, hasta pequeñas pero críticas partes o repuestos. Nuestra red de proveedores y las negociaciones que con ellos realizamos, nos permiten ofrecer una excelente relación calidad-precio y tiempo de entrega.</p>
			<p>Usted puede contar con nuestros servicios, teniendo la seguridad de que trabajamos solo con las mejores marcas, conocemos de la importancia que tienen para usted los tiempos de entrega y sabemos ajustarnos a su presupuesto.</p>
			<p>Nacimos con el objetivo de servir, de ayudar a resolver problemas y nos apasiona nuestro trabajo. Creemos que nuestro mayor valor agregado es el servicio y nuestros mejores logros, el tener Clientes satisfechos que lleguen a considerarnos como una extensión de ellos mismos.</p>
			<p>Lo invitamos a contactarnos: <a href="#">ventas@gekosupplies.com</a></p>
		</div>
	</div>
</div>